:root {
    --main-gray-color: rgb(32, 44, 51);
    --main-white: rgb(209, 215, 219);
    --main-bg-color: rgb(42, 57, 66);
    --main-shadow-color: rgb(28, 38, 44);
    --main-gradient-color: rgba(16, 22, 26, 0.9);
    --main-border-color: rgba(255, 255, 255, 0.2);
    --main-border: 1px var(--main-border-color) solid;
    --main-green-color: rgb(0, 92, 75)
}